.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 25rem;
  max-width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
}

.card .name {
  grid-column: span 2;
}

.card .number {
  grid-column: span 2;
}

.card button {
  grid-column: span 2;
  background-color: var(--colors-very-dark-violet);
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  border-radius: 0.625rem;
  color: var(--colors-light-gray-violet);
  font-size: 1.125rem;
}

@media (max-width: 700px) {
  .card {
    justify-content: center;
    max-width: 80%;
  }
}
