.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 500;
}

.form-field label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
  color: var(--colors-very-dark-violet);
  cursor: pointer;
}

.form-field.required label::after {
  content: '*';
  color: red;
}

.form-field .input-group {
  display: flex;
  gap: 0.5rem;
}

.form-field .input-container {
  position: relative;
  flex-grow: 1;
  border-radius: 0.5rem;
}

.form-field input {
  color: var(--colors-dark-grayish-violet);
  border-radius: inherit;
  border: 1px solid var(--colors-light-gray-violet);
}

.form-field .input-container:focus-within:after {
  content: '';
  position: absolute;
  top: -1px;
  z-index: -1;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: inherit;
  background: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

.form-field .error-message {
  color: var(--colors-red);
}

.form-field.error input {
  border-color: var(--colors-red);
}

@media (max-width: 700px) {
  .form-field label {
    font-size: 0.625rem;
  }
}
