/* Resets */

*,
*::before,
::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
}

input {
  font: inherit;
  outline: none;
  height: 2.75rem;
  border: 1px var(--colors-light-gray-violet) solid;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem;
}

a {
  color: inherit;
}

button,
a {
  font: inherit;
  outline: none;
}

:root {
  --active-border: linear-gradient(to top, hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
  --colors-red: hsl(0, 100%, 67%);
  --colors-white: hsl(0, 0%, 100%);
  --colors-light-gray-violet: hsl(270, 3%, 87%);
  --colors-dark-grayish-violet: hsl(279, 6%, 55%);
  --colors-very-dark-violet: hsl(278, 68%, 11%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

body {
  font: 500 1rem/1.5 'Space Grotesk';
  background: var(--colors-white);
}
